.dockbackground{
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: 20px;
  padding: 0px 10px 0px 27px;
  margin-left: -25px;
}

.dockicons{
  margin-bottom: -25px;
}

.dockicons:hover{
  margin-bottom: 0px;
}

.dockiconsindicator{
  margin: 0px 0px 10px 0px;
}
