dconf
gtk-3.0
Thunar
xfce4
neofetch
.zcompdump*
.zcompdump*
.netrwhist
font-manager
config/awesome/apikeys/
.zsh_history
viminfo
.viminfo
vim/bundle/
config/qalculate
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
config/gtk-2.0
config/obsidian
config/pulse
config/zsh/.z*
config/mpd/database
config/mpd/log
config/mpd/pid
config/mpd/playlists
config/mpd/sticker.sql
config/mpd/state
config/ncmpcpp/error.log
config/systemd/
config/ghc/
